*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.panel-control{
  width: 100%;
  height: 100vh;
  background-image: url('/public/1481.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-control-aside {
  width: 25%;
  height: 100%;
  background-color: blueviolet;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.panel-control-aside div{
  width: 260px;
  height: 260px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-control-aside div img{
  width: 245px;
  height: 245px;
  border-radius: 50%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.panel-control-aside nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%;
}

.panel-control-aside nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 80%;
}

.panel-control-aside nav ul li{
  width: 80%;
  height: 50px;
  background-color: white;
}

.panel-control-section{
  width: 73%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card{
  width: 300px;
  height: 320px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


.card div:first-child{
  width: 100%;
  height: 60%;
  background-color: blueviolet;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.card div:last-child{
  width: 100%;
  height: 60%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid 1px black;
  color: white;
}

.panel-control-Clientes{
  width: 73%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}